---
title: Test
author: Fran Matešić
date: 03.05.2023.
description: Test description
---

<script>
    import Code from '../../components/Code.svelte';
</script>

# Hello World

## Subtitle

**Bold**

- tick
    - second tick

<Code title="main.js">

```js
let code = 10;
```
</Code>

<h1>Title</h1>

<Code title="Java">

```java
public class Main() {
    public static void main(String ...args) {
        System.out.println("Hello World!");
    }
}
```
</Code>
